In [6]:
print("Hello world")

Hello world

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print("Hello world")

Hello world

In [5]:
"haiii"

'haiii'

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive

In [5]:
a=20
b=30
print(a)
print(b)
print(a+b)

20
30
50

In [2]:
a=10
b=20
print(a)
print(b)
print(a+b)

10
20
30

In [2]:
a=10
b=20
print(a)
print(b)
print(a+b)

10
20
30

In [ ]:
print("Hello world")

In [ ]:
"hello"

In [ ]:
print("hiii")

In [ ]:
print("Hello world")

In [ ]:
"hello"

In [ ]:
print("hiii")

In [ ]:
print("Hello world")

In [ ]:
"hello"

In [ ]:
print("hiii")

In [ ]:
print("Hello world")

In [ ]:
"hello"

In [ ]:
print("hiii")

# heading1
## heading2
###### heading6

*data*<br>
**hello**<br>
***bold***

* list
    * sublist1
        * sublist2
            * sublist3
            
> 1.list1<br>
> 2.list2<br>
> 3.list3

<h1 style="color:pink;font-size:10px">haii</h1>
<h6>fhgfggj</h6>
<i>hai how are you</i><br>
<em>hai how are you</em>

<b>surya</b><br>
<strong>venkat</strong>

<img src="s.jpg" alt="picture">

<a href="https://www.google.com/">Welcome to google</a>

<a href="mailto:surya@gmail.com">surya@gmail.com</a>

In [17]:
with=10
print(with)

SyntaxError: invalid syntax (<ipython-input-17-e3d294583a22>, line 1)

Datatypes:
    - Int
    - Float
    - String
    - Complex

In [20]:
a=20
print(type(a))

<class 'int'>

In [21]:
a=20.0
print(type(a))

<class 'float'>

In [22]:
a="hello"
print(type(a))

<class 'str'>

In [24]:
a=3+2j
print(type(a))

<class 'complex'>

In [8]:
x = 1j
print(type(x))

<class 'complex'>

In [30]:
# typecasting

a=10
print(float(a))
b=float(a)
print(b)
print(str(a))
print(type(str(a)))

10.0
10.0
10
<class 'str'>

In [31]:
a='c'
type(a)

str

In [33]:
s="python"
d=float(s)

ValueError: could not convert string to float: 'python'

In [1]:
a=20.0
print(type(str(a)))
print(int(str(a)))

<class 'str'>

ValueError: invalid literal for int() with base 10: '20.0'

In [2]:
a,b,c=10,20,"hai"
print(a,b,c)

10 20 hai

In [47]:
a=10
d=b=c=a
print(c)
print(b)
print(d)

10
10
10

In [3]:
s=input("Enter the string or value:")
print(type(s))

Enter the string or value:surya
<class 'str'>

In [5]:
s=int(input("Enter a value:"))
print(s)

Enter a value:venkat

ValueError: invalid literal for int() with base 10: 'venkat'

In [6]:
s=float(input("Enter a value:"))
print(s)

Enter a value:3.5
3.5

In [73]:
a=int(input())
b=int(input())
print(" addition of a and b",a+b)
print("'Addition of %d and %d is : %d'"%(a,b,a+b))
print("Addition of {} and {} is : {}".format(a,b,a+b))
print("Addition of {1} and {0} is : {2}".format(a,b,a+b))
# print("Addition of {2} and {0} is : {1}".format(a,b,a+b))

10
20
 addition of a and b 30
'Addition of 10 and 20 is : 30'
Addition of 10 and 20 is : 30
Addition of 20 and 10 is : 30
Addition of 30 and 10 is : 20

In [ ]:
1. python introcution
2. iterative programming(jupitor)
3. varibale declaration
4. Data Types & Type conversions
5. Python Comments
6. Python Operators
7. Python Conditional Statements
8. Loops

In [77]:
#Python Comments
#Hello world     #single line comment
print("hello")
#Helloo
#World
#hello
"""Today is Tuesday
this is python Workshop    
in nuzvid IIIT """
#multiline comment
print("Hello")

hello
Hello

In [ ]:
#Python Operators:
1. Arthimatic ()
2. Logical 
3. Assignment 
4. Bit Wise
5. Indentity
6. Membership

In [80]:
#Arthimatic operators(+,-,*,/,//,%)
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #floor division
print(a%b)

30
-10
200
0.5
0
10

In [86]:
#Logical Operators(and, or, not)
True and True
True or False
True and False
x = 10
y=20
x is not y

True

In [91]:
#Bit-wise (&,|,~,>>,<<)
x =10 #Binary value-1010
y= 4 #Binary Value-0100
print(x & y)
print(x | y)
print(~x)
print(x>>y)
print(x<<y)

0
14
-11
0
160

In [105]:
#Assignment Operators(=,*=,-=,/=)
a=10
a+=10
a
a*=30
a
a-=50
a/=100
a

5.5

In [111]:
#Comparision Operators(<,>,<=,>=,!=,==)
a= 5
b=10
a>b
a<b
a==b
a!=b
a>=b
a<=b

True

In [116]:
#Indentity Operators (is, is not)
a is b
a is not b
#Membership Operators(in, not in)
a ="nuzvid"
"a" in a
"v" in a
"s" not in a

True

In [ ]:
#Conditional Statements:(if,elif,nested if, else)
#syntax:
if test conditions:
    body of if
elif test conditions:
    body of elif
else:
    body of else

In [ ]:
#nested if syntax:
if condition:
    if condition:
        if condition:
            if condition:
else:

In [118]:
x = 20
y =50
if x<y:
    print("True")
else:
    print("False")

True

In [3]:
x =15
if x>10:
    if x>3:
        if x>5:
            if x==14:
                print("Inside if")
            elif x==15:
                print("Hello")

Hello

In [ ]:
#Task1:
check the username and password then print login success if they are valid
by using if conditionals
#Check with Multiusers also using nested if?
#Task 2:
# To find the greatest number among 3 numbers?

In [4]:
#single user
username="iamsurya93@gmail.com"
password=8328401910
user= input("enter username")
pwd = int(input("enter password"))
if username==user:
    if password==pwd:
        print("login successfull")
    else:
        print("invalid details")

enter usernameiamsurya93@gmail.com
enter password8328401910
login successfull

In [ ]:
#Multi user
username="iamsurya93@gmail.com"
password=8328401910
user= input("enter username")
pwd = int(input("enter password"))
if

In [5]:
# Greatest of 3 Numbers:
a = int(input("enter a number"))
b = int(input("enter b number"))
c = int(input("enter c number"))
if a>b and a>c:
    print("a is big",a)
elif b>a and b>c:
    print("b is big",b)
else:
    print("c is big",c)

enter a number10
enter b number20
enter c number50
c is big 50

In [ ]:
#python Loops:
for(i=0,i>=10,i++)
{
    
}
#Syntax:
 for i in iterators:
        body of for loop
for i in range(iterator):
    body of loop

In [10]:
a = "iiit nuzvid"
for ch in a:
    print(ch,end="")

iiit nuzvid

In [16]:
#for i in range(start,end,interval)
for i in range(1,101,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [17]:
#while:
while condition:
    body of loop

1 2 3 4 5 6 7 8 9

In [19]:
i=1
while i<=100:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [25]:
#Strings:
#its collection of unicode characters
s = "a"
print(type(s))
s= " " # empty string
type(s)
s = str() #empty string
print(type(s))
print(s)
s = "python"
print(s)
s = 'python'
print(s)
s= """python"""
print(s)
s = """I am from EastGodavai
       and Working in APSSDC
       from Vijayawada"""
        #doc or multi string
print(len(s))
print(s)

<class 'str'>
<class 'str'>

python
python
python
73
I am from EastGodavai
       and Working in APSSDC
       from Vijayawada

In [7]:
k=" "
print(type(k))
print(k)
z=str()
print(type(z))
print(z)

<class 'str'>

<class 'str'>

In [26]:
print(s)

I am from EastGodavai
       and Working in APSSDC
       from Vijayawada

In [22]:
#String indexing and slicing
s = "python workshopsse"
print(s[0])
print(s[-1])
print(s[7]) #postive indexing
print(s[-3]) #negative indexing
print(s[0:8+1]) #positive slicing
print(s[0:])
print(s[::-1])
print(s[-5:-1]) #negative slicing

print(s[::1])
print(s[::-1])
print(s[:-1:]+s[-1])
print(len(s))
print(len(s)//2)
print(s[len(s)//2])

p
e
w
s
python wo
python workshopsse
esspohskrow nohtyp
opss
python workshopsse
esspohskrow nohtyp
python workshopsse
18
9
r

In [25]:
print(dir("jdfjf"),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [64]:
s="python programming"
print(s.capitalize())
t="HAI"
print(t.casefold())
print(s.center(20))
print(s.center(11,"*"))
print(s.count("p"))
print(s.count("p",2,10))
print(s.encode())
print(s.startswith("py"))
print(s.endswith("ing"))
s="h\te\tl\tl\to"
print(s)
print(s.expandtabs(20))
#print(s.index("py"))

Python programming
hai
 python programming
python programming
2
1
b'python programming'
True
True
h	e	l	l	o
h                   e                   l                   l                   o

In [65]:
chr(97)

'a'

In [68]:
ord('a')

97

In [74]:
s="323123vsd"
print(s.islanum())

True

In [73]:
s="vsd"
print(s.isalpha())

True

In [79]:
s="312312"
print(s.isnumeric())

True

In [83]:
s="312312"
print(s.isdigit())

True

In [85]:
s="312312"
print(s.isdecimal())

True

In [91]:
s='\u00B2' #unicode 
# print(s.isdecimal())
print(s.isdigit())
print(s.isnumeric())

True
True

In [90]:
s='\u00BD' #unicode
# print(s.isdecimal())
print(s.isdigit())
print(s.isnumeric())

False
True

In [96]:
s="Surya"
print(s.islower())
print(s.isupper())
print(s.upper())
print(s.lower())

False
False
SURYA
surya

In [98]:
s="this is surya"
print(s.title())
print(s.istitle())

This Is Surya
False

In [103]:
s="ggsdfsdfsdfsd\t"
print(s.isprintable())

False

In [107]:
s=" "
print(s.isspace())

True

In [112]:
s="      surya     "
s.strip()

'surya'

In [113]:
s.lstrip()

'surya     '

In [114]:
s.rstrip()

'      surya'

In [118]:
s="This is surya"
print(s.partition("is"))
print(s.rpartition("is"))
print(s.partition("This"))

('Th', 'is', ' is surya')
('This ', 'is', ' surya')
('', 'This', ' is surya')

In [119]:
print(s.replace("is","has"))

Thhas has surya

In [124]:
s="haii haii how are you"
print(s.replace("haii","hello",1))

hello haii how are you

In [127]:
s="haii hello haii"
print(s.find("haii"))
print(s.rfind("haii"))
print(s.find("sfjhgfugwegfuyw"))

0
11
-1

In [129]:
s="haii hello haii"
print(s.index("haii"))
print(s.rindex("haii"))
print(s.index("sfjhgfugwegfuyw"))

0
11

ValueError: substring not found

In [133]:
s="surya"
s.rjust(10,"@")

'@@@@@surya'

In [136]:
s="surya"
s.ljust(10,"0")

'surya00000'

In [135]:
s="surya"
s.zfill(10)

'00000surya'

In [140]:
s="This is surya"
print(s.split("is"))

['Th', ' ', ' surya']

In [142]:
s="This is surya"
s2=s.split("is")
print("has".join(s2))

Thhas has surya

In [143]:
print(s.replace("is","has"))

Thhas has surya

In [ ]:
# functions:
def functionname(arguments//optional):   # function definition
    //statements
    
functionname(aruguments//optional) # function calling

In [144]:
# without arguments and without return values
def add():
    a=10
    b=20
    print(a+b)
add()

30

In [145]:
# with arguments and without return values
def add(a,b):
    print(a+b)
add(10,20)

30

In [146]:
# without arguments and with return values
def add():
    a=10
    b=20
    return a+b
add()

30

In [147]:
# with arguments and with return values
def add(a,b):
    return a+b
add(10,20)

30

In [ ]:
#Tasks:
1. To Check given string is palindrome or not using functions
2. To Check given year is leap or not using functions

3. Given string =
        "shksjssskABAANANA@#$%^&**(!!)_+123456789"
    from the above string
    find
    (i) No of lower characters
    (ii) No of Upper characters
    (iii) No of digits
    (iv) No of special characters
    (v) Length of string
    
4. To count & print the number of characters and words in a string?

5. To print given string as
   input string= "python programming"
   output string = "g n i m m a r g n o h t y P"

In [3]:
#palindrome:
s = input("enter a string")
if s==s[::-1]:
    print("its palindrome")
else:
    print("not a palindrome")

enter a stringhello
not a palindrome

In [4]:
#Leap Year
year = int(input("enter a year"))
if year%4==0 and year%400==0 or year%100!=0:
    print("its a Leap year")
else:
    print("Its not Leap")

enter a year2020
its a Leap year

In [6]:
s="shksjssskABAANANA@#$%^&**(!!)_+123456789"
lower,upper,digit,splchar=0,0,0,0
for ch in s:
    if ch.islower():
        lower+=1
    elif ch.isupper():
        upper+=1
    elif ch.isdigit():
        digit+=1
    else:
        splchar+=1
print(lower,upper,digit,splchar,len(s))

9 8 9 14 40

In [8]:
#No of characters and words:
s= input("enter a string")
char =0
word=1
for ch in s:
    char=char+1
    if ch==" ":
        word=word+1
print("no. of chars:",char)
print("no. of words:",word)
print(len(s))

enter a stringpython workshop in IIIT
no. of chars: 23
no. of words: 4
23

In [15]:
s="python programming"
s1=" ".join(reversed(s))
s2= s1[-1]
print(s1[0:33]+" "+s2.upper())

g n i m m a r g o r p   n o h t y P

In [ ]:
# Task:
To find given number is perfect number or not?
# Task:
from given string remove the odd index values and return string
#Task:
Take two strings and find the largest string without using inbuilt 
functions

In [18]:
n = int(input("enter a number"))
sum1=0
for i in range(1,n):
    if n%i==0:
        sum1=sum1+i
if sum1==n:
    print("Its a perfect")
else:
    print("Not a Perfect")

enter a number7
Not a Perfect

In [19]:
s= "python programming"
s1=""
for ch in range(len(s)):
    if ch%2==0:
        s1=s1+s[ch]
print(s1)

pto rgamn

In [9]:
s= "python programming"
print(s[::2])

pto rgamn

In [ ]:
#Task:
print the all numbers that are divisble by given number 
in the given range
#Task:
To Print the all prime numbers in given range

In [21]:
low=int(input("enter a number"))
high=int(input("enter a number"))
n=int(input("enter a number"))
for i in range(low,high+1):
    if i % n==0:
        print(i,end=" ")

enter a number100
enter a number1000
enter a number5
100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495 500 505 510 515 520 525 530 535 540 545 550 555 560 565 570 575 580 585 590 595 600 605 610 615 620 625 630 635 640 645 650 655 660 665 670 675 680 685 690 695 700 705 710 715 720 725 730 735 740 745 750 755 760 765 770 775 780 785 790 795 800 805 810 815 820 825 830 835 840 845 850 855 860 865 870 875 880 885 890 895 900 905 910 915 920 925 930 935 940 945 950 955 960 965 970 975 980 985 990 995 1000

In [23]:
for i in range(0,100,5):
    print(i,end=" ")

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [28]:
low=int(input("enter a number"))
high=int(input("enter a number"))
for i in range(low,high+1):
    c=0
    for j in range(2,i//2+1):
        if i%j==0:
            c+=1
    if c<=0:
        print("all prime numbers",i)

enter a number8
enter a number5

In [ ]:
Datastructures:
    collection of multiple data
- list
- tuple
- dictionary(dict)
- set

# list:
    - collection of multiple data
    - mutable- changeable
    - indexed and ordered (slicing possible)
    - allow duplicate data or elements
    - It is represented using []

In [29]:
s=[] # empty list
type(s)

list

In [32]:
s=[20,3.3,"haii",20,"haii","jhf"]
s

[20, 3.3, 'haii', 20, 'haii', 'jhf']

In [33]:
s[0]

20

In [34]:
s[0:]

[20, 3.3, 'haii', 20, 'haii', 'jhf']

In [35]:
s[-1]

'jhf'

In [39]:
print(s[-6::])

[20, 3.3, 'haii', 20, 'haii', 'jhf']

In [40]:
print(s[::-1])

['jhf', 'haii', 20, 'haii', 3.3, 20]

In [41]:
print(dir(list),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [42]:
s.append(35)

In [43]:
s

[20, 3.3, 'haii', 20, 'haii', 'jhf', 35]

In [49]:
s1=[2,3,4]
s2=s.append(s1)
print(s2)

None

In [48]:
print(s)

[20, 3.3, 'haii', 20, 'haii', 'jhf', 35, [2, 3, 4], [2, 3, 4]]

In [46]:
s1

[2, 3, 4]

In [50]:
s

[20, 3.3, 'haii', 20, 'haii', 'jhf', 35, [2, 3, 4], [2, 3, 4], [2, 3, 4]]

In [52]:
a=[1,2,3]
b=["hai","hello"]
b=a.copy()
print(b)
print(a)

[1, 2, 3]
[1, 2, 3]

In [53]:
a.insert(2,"surya")
print(a)

[1, 2, 'surya', 3]

In [58]:
a=[3,3,4,5,6,7]
print(a.count(3))
print(a.index(3))
print(a.index(5))

2
0
3

In [61]:
a=[3,3,4,5,6,7]
a.pop()
a.remove(4)
a

[3, 3, 5, 6]

In [70]:
a=[4,2,8,6,5,9,30.0,2.5]
a.sort()
a

[2, 2.5, 4, 5, 6, 8, 9, 30.0]

In [65]:
a=[4,2,8,6,5,9]
a.reverse()
a

[9, 5, 6, 8, 2, 4]

In [71]:
a.clear()

In [72]:
a

[]

In [73]:
a=["surya","venkat","kiran","rahul"]
a.sort()
a

['kiran', 'rahul', 'surya', 'venkat']

In [ ]:
# find the average from the list
s=[1,2,3,'a',"surya"]

In [85]:
s=[1,2,3,5,'a',"surya"]
s=str(s)
type(s)
sum=c=0
for i in s:
    if i.isdigit():
        sum=sum+int(i)
        c=c+1
print(sum/c)

2.75

In [87]:
li=[1,2,3,5,6.2,'a',"surya"]
s=c=0
for i in li:
    if type(i)==int or type(i)==float:
        s=s+i
        c=c+1
print(s/c)

3.44

In [99]:
li=[4,3,3,10,6,8,9,9]
li.sort()
nli=[]
for i in li:
    if i not in nli:
        nli.append(i)
print(nli[-2])

9

In [ ]:
# tuple
- collection of multiple data
- immutable
- ordered and indexed(slicing possible)
- duplicates allowed
- It is represented using ()

In [100]:
t=()
type(t)

tuple

In [101]:
t=("surya",1,3.0,1,"surya","venkat")
print(t)

('surya', 1, 3.0, 1, 'surya', 'venkat')

In [102]:
t[4]

'surya'

In [103]:
t[0:]

('surya', 1, 3.0, 1, 'surya', 'venkat')

In [104]:
t[1:3]

(1, 3.0)

In [105]:
t[::-1]

('venkat', 'surya', 1, 3.0, 1, 'surya')

In [106]:
t[-1]

'venkat'

In [107]:
t[:-1:]

('surya', 1, 3.0, 1, 'surya')

In [108]:
t[2]="veera"

TypeError: 'tuple' object does not support item assignment

In [109]:
print(dir(tuple),end="")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [110]:
t.count("surya")

2

In [111]:
t.index("surya")

0

# sets:
- collection of multiple data
- duplicates not allowed
- unordered and unindexed(slicing not possible)
- It represented using {}
- mutable- we can change the values

In [112]:
s={}
type(s)

dict

In [113]:
s=set()
print(s)

set()

In [116]:
s={""}
type(s)

set

In [117]:
s={2,3,3,4,4,"surya","venkat","surya"}
s

{2, 3, 4, 'surya', 'venkat'}

In [126]:
s={1,2,3,4}
s

{1, 2, 3, 4}

In [123]:
s[0]

TypeError: 'set' object is not subscriptable

In [127]:
s[-1]

TypeError: 'set' object is not subscriptable

In [128]:
s[0]="haii"

TypeError: 'set' object does not support item assignment

In [129]:
print(dir(set),end="")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [130]:
s.add(20)
s

{1, 2, 3, 4, 20}

In [132]:
s.add("surya")
s

{1, 2, 20, 3, 4, 'surya'}

In [133]:
s1=s.copy()
print(s1)
print(s)

{1, 2, 3, 4, 20, 'surya'}
{1, 2, 3, 4, 20, 'surya'}

In [142]:
a={1,2,3,4}
b={3,4,5,6}
print(a.difference(b))
print(b.difference(a))
print(a)
a.difference_update(b)
print(a)
b.difference_update(a)
b

{1, 2}
{5, 6}
{1, 2, 3, 4}
{1, 2}

{3, 4, 5, 6}

In [143]:
a={1,2,3,4}
b={3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [149]:
a={1,2,3,4}
b={3,4,5,6}
print(a.intersection(b))
print(b.intersection(a))
a.intersection_update(b)
print(a)
a

{3, 4}
{3, 4}
{3, 4}

{3, 4}

In [153]:
a
a.pop()

KeyError: 'pop from an empty set'

In [155]:
b.pop()

3

In [156]:
b

{4, 5, 6}

In [165]:
b.remove(5)

KeyError: 5

In [160]:
b

{4, 6}

In [166]:
b.discard(6)

In [164]:
b

{4}

In [167]:
a={1,2,3}
b={4,5,6}
print(a.isdisjoint(b))

True

In [168]:
a={1,2,3,4}
b={4,5,6}
print(a.isdisjoint(b))

False

In [169]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}
print(a.symmetric_difference(b))

{1, 2, 3, 6, 7, 8, 9}

In [170]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}
a.symmetric_difference_update(b)
print(a)

{1, 2, 3, 6, 7, 8, 9}

In [171]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}
b.symmetric_difference_update(a)
print(b)

{1, 2, 3, 6, 7, 8, 9}

In [172]:
a.update(b)

In [173]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [174]:
a.update(6)

TypeError: 'int' object is not iterable

In [178]:
a={1,2,3}
b={1,2,3,4,5,6}
print(a.issubset(b))
print(b.issubset(a))
print(b.issuperset(a))
print(a.issuperset(b))

True
False
True
False

# Dictionaries:
    - collection of multipla data
    - ordered and unindexed(Slicing not possible)
    - does not allow duplicates
    - It represented using {}
    - data stored in the format of key and value

In [179]:
d={}
type(d)

dict

In [10]:
d={
    1:"surya",
    "2":"venkat",
    3:"narayana",
    4:"narla",
    "veera":5
}

In [188]:
d

{1: 'surya', '2': 'venkat', 3: 'narayana', 4: 'narla', 'veera': 5}

In [189]:
d[1]

'surya'

In [191]:
d["2"]

'venkat'

In [200]:
d["fwefhwehfk"]

KeyError: 'fwefhwehfk'

In [193]:
print(dir(dict),end="")

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [202]:
d.get(1)

'surya'

In [203]:
k=d.copy()

In [204]:
k

{1: 'surya', '2': 'venkat', 3: 'narayana', 4: 'narla', 'veera': 5}

In [205]:
d.items()

dict_items([(1, 'surya'), ('2', 'venkat'), (3, 'narayana'), (4, 'narla'), ('veera', 5)])

In [206]:
d.keys()

dict_keys([1, '2', 3, 4, 'veera'])

In [207]:
d.values()

dict_values(['surya', 'venkat', 'narayana', 'narla', 5])

In [208]:
for i in d:
    print(d[i])

surya
venkat
narayana
narla
5

In [209]:
for i in d.values():
    print(i)

surya
venkat
narayana
narla
5

In [210]:
for i in d.keys():
    print(i)

1
2
3
4
veera

In [211]:
for i in d.items():
    print(i)

(1, 'surya')
('2', 'venkat')
(3, 'narayana')
(4, 'narla')
('veera', 5)

In [217]:
x=d.fromkeys("venkat")
print(x)

{'v': None, 'e': None, 'n': None, 'k': None, 'a': None, 't': None}

In [6]:
x={'key1','key2','key3'}
z=dict.fromkeys(x)
print(z)

{'key2': None, 'key1': None, 'key3': None}

In [8]:
x={'key1','key2','key3'}
y=[1,2,3]
z=dict.fromkeys(x,y)
print(z)

{'key2': [1, 2, 3], 'key1': [1, 2, 3], 'key3': [1, 2, 3]}

In [225]:
d.pop(1)

KeyError: 1

In [226]:
d

{'2': 'venkat', 3: 'narayana', 4: 'narla', 'veera': 5}

In [227]:
d.popitem()

('veera', 5)

In [228]:
d.setdefault("model")
d

{'2': 'venkat', 3: 'narayana', 4: 'narla', 'model': None}

In [12]:
d.setdefault(3)

'narayana'

In [230]:
d.setdefault("color","red")
d

{'2': 'venkat', 3: 'narayana', 4: 'narla', 'model': None, 'color': 'red'}

In [14]:
s={9:"fhgfhfg"}
s

{9: 'fhgfhfg'}

In [17]:
k=[7,89,0]
k

[7, 89, 0]

In [18]:
d.update(k)
d

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [15]:
d.update(s)

In [16]:
d

{1: 'surya',
 '2': 'venkat',
 3: 'narayana',
 4: 'narla',
 'veera': 5,
 9: 'fhgfhfg'}

In [46]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added successfully")
    else:
        print("already exists")
#addcontact("surya","87654345676")
#addcontact("venkat",876543456788)
n=int(input("enter how many contacts to add?"))
for i in range(n):
    a=input().split()
    b=a[0]
    c=a[1]
    addcontact(b,c)

enter how many contacts to add?2
surya 876543456789
contact added successfully
venkat 876545678987654
contact added successfully

In [47]:
contacts

{'surya': '876543456789', 'venkat': '876545678987654'}

In [49]:
def searchcontact(name):
    if name in contacts:
        contacts[name]
        print("contact found")
    else:
        print("Contact not found")
searchcontact(input())

veera
Contact not found

In [ ]:
# Regular expression
    - match()
    - search()
    - findall()

In [50]:
import re # package module
re.match('s',"surya")

In [2]:
import re # package module
re.match('su',"surya")

In [52]:
import re # package module
re.match('u',"surya")

In [3]:
n=input()
re.match('su',n)

surya

In [4]:
re.search('y',"surya")

In [5]:
re.search('ry',"surya")

In [6]:
re.search('z',"surya")

In [7]:
re.sub('s','v',"surya")

'vurya'

In [8]:
re.findall('s','suryassss')

['s', 's', 's', 's', 's']

In [9]:
re.split('s','sursyasfhds')

['', 'ur', 'ya']

In [10]:
re.split('s','sursyasfhds',2)

['', 'ur', 'yasfhds']

In [11]:
re.split('s','sursyasfhds',4)

['', 'ur', 'ya', 'fhd', '']

In [12]:
re.split('s','sursyasfhds',10)

['', 'ur', 'ya', 'fhd', '']

In [ ]:
^ - Begining of the line
$ - ending of the line
. - allows one character
\s - allow white spaces
\S - not allow white spaces
+ - one or more characters is allowed
* - zero or more characters is allowed
[a-z] - It takes any character from the given range
[a,h,z] - It takes the mentioned characters
{} - range declaration

In [13]:
re.match('^s',"surya")

In [14]:
re.match('s',"surya")

In [15]:
re.match('^sa',"surya")

In [16]:
re.match('^su',"surya")

In [17]:
re.search('^s',"surya")

In [18]:
re.search('^r',"surya")

In [19]:
re.search('r',"surya")

In [22]:
re.findall('^s',"suryasss")

['s']

In [23]:
re.findall('s',"suryasss")

['s', 's', 's', 's']

In [24]:
re.findall('^r',"surya")

[]

In [25]:
re.match('a$',"surya")

In [26]:
re.search('a$',"surya")

In [33]:
re.search('a$',"sauraya")

In [30]:
re.findall('a$',"sauarya")

['a']

In [36]:
re.match('.u',"surya")

In [37]:
re.match('..r',"surya")

In [38]:
re.match('..r..',"surya")

In [41]:
re.search('r..',"surya")

In [48]:

re.findall('\s',"surya narayana venkata veera")

[' ', ' ', ' ']

In [47]:
re.findall('\S',"surya narayana venkata")

['s',
 'u',
 'r',
 'y',
 'a',
 'n',
 'a',
 'r',
 'a',
 'y',
 'a',
 'n',
 'a',
 'v',
 'e',
 'n',
 'k',
 'a',
 't',
 'a']

In [49]:
re.findall("z.","fasfdfasz")

[]

In [53]:
re.findall("z.*","fasfdfaszfssadasdas")

['zfssadasdas']

In [55]:
re.findall("z+","fasfdfasz")

['z']

In [57]:
re.findall(".+","fasfdfasz")

['fasfdfasz']

In [72]:
re.findall("[a-h]","hsdfghz")

['h', 'd', 'f', 'g', 'h']

In [73]:
re.match("^[a-h]","ksdfgh")

In [85]:
import re
re.findall("[0-9]","234876543456789")

['2', '3', '4', '8', '7', '6', '5', '4', '3', '4', '5', '6', '7', '8', '9']

In [89]:
re.match('[a,b,c]',"d")

In [90]:
re.findall('[a,b,c]',"abcd")

['a', 'b', 'c']

In [91]:
re.search('[a,b,c]',"abcd")

In [92]:
re.match("[0-9]{4}","7654")

In [93]:
re.match("[0-9]{4}","765457543")

In [97]:
re.match("[0-9]{10}$","987654321067")

In [ ]:
pattern=^[6-9][0-9]{9}$|^[+][9][1][-][6-9][0-9]{9}$
re.match

In [106]:
def ptn(n):
    pattern="^[6-9][0-9]{9}$|^[+][9][1][-][6-9][0-9]{9}$"
    if re.match(pattern,n):
        return "valid mobile number"
    else:
        return "Invalid number"
n=input()
ptn(n)

+91-9876543212

'valid mobile number'

In [105]:
re.match("^[6-9][0-9]{9}$|^[+][9][1][-][6-9][0-9]{9}$","9876543212")

In [ ]:
suryanarla54121@gmail.com 
venkatasuryanarayana.n@apssdc.in 
3654venkat@gmail.com

first - 0-9,a-z
remaing- a-z,0-9,.,_ --->[5,64]
@ - @
domain - [a-z] -- >[3,15]
. - .
extension - [a-z] --> [2,5]

In [ ]:
pattern="^[0-9a-z][a-z0-9._]{5,64}[@][a-z]{3,15}[.][a-z]{2,5}$"

def ptn(n):
    pattern="^[a-z][0-9][.][_]{5,64}[@][a-z]{3,15}[.][a-z]{2,5}$"
    if re.match(pattern,n):
        return "valid email"
    else:
        return "Invalid email"
n=input()
ptn(n)

# Comprehensions in Python:
Its a Short and Concise way to create new sequences by using already 
created sequences(lists,sets,strings,dictionaries).
In python:
1. List Comprehensions:
2. Set Comprehenions
3. Dictionary Comprehensions

In [ ]:
#syntax:
[outputexpr for i in iterator if i satifies condition]

In [117]:
li = [23,45,67,12,14,28,30]
li1=[]
for i in li:
    if i%2==0:
        li1.append(i)
print(li1)

[12, 14, 28, 30]

In [119]:
[i for i in [23,14,12,10,12] if i%2==0]

[14, 12, 10, 12]

In [ ]:
#Task:
print all numbers divisible by 2 but not 5 in the range of 100
using list comprehension.

In [123]:
 print([i for i in range(1,100) if i%2==0 and i%5!=0],end=" ")

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48, 52, 54, 56, 58, 62, 64, 66, 68, 72, 74, 76, 78, 82, 84, 86, 88, 92, 94, 96, 98]

In [190]:
{"even" if i%2==0 else "odd" for i in range(10)}

{'even', 'odd'}

In [ ]:
#Dictionary Comprehension:
#syntax:
{key:value for key,value in iterator if key,value satisfies condition}

In [125]:
li = [1,2,3,4,5,6,7,8,9]
output={}
for i in li:
    if i%2!=0:
        output[i]=pow(i,3)
output

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [126]:
{i:pow(i,3) for i in li if i%2!=0}

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [128]:
#task:(Dictionaries)
team= ["india","newland","austrlia"]
captains=["kohli","williams","finch"]
output={}
for key,value in zip(team,captains):
    output[key]=value
print(output)

{'india': 'kohli', 'newland': 'williams', 'austrlia': 'finch'}

In [130]:
{key:value for key,value in zip(team,captains)}

{'india': 'kohli', 'newland': 'williams', 'austrlia': 'finch'}

In [142]:
matrix=[[1,2,3,4],[5,6,7,8]]
transposed=[]
for i in range(len(matrix[0])):
    transpose_row=[]
    for row in matrix:
        transpose_row.append(row[i])
    transposed.append(transpose_row)
print(transposed)

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [146]:
[[row[i] for row in matrix] for i in range(2)]

[[1, 5], [2, 6]]

In [ ]:
#Special functions in python:
1. map()
syntax:
    map(functionname,iterator)
2. filter()
   filter(functionname,iterator)
3. reduce()
   recude(functionname,iterator)
4 . lambda
    lambda arguments:expression
    Note:
        we can pass more than one arguments, but
    process only one expression

In [156]:
def sumof(x):
    return pow(x,3)
tuple(map(sumof,(1,2,3,4,5,6,7,8,9)))

(1, 8, 27, 64, 125, 216, 343, 512, 729)

In [159]:
def strings(s):
    return s+5*s
list(map(strings,"hello"))

['hhhhhh', 'eeeeee', 'llllll', 'llllll', 'oooooo']

In [161]:
#Filter:
def numfilter(x):
    return x>=18
list(filter(numfilter,[23,12,18,19,20,90,9,6]))

[23, 18, 19, 20, 90]

In [162]:
def palinfilter(s):
    return s==s[::-1]
list(filter(palinfilter,["121","525","mam","IIIT","Python"]))

['121', '525', 'mam']

In [172]:
#reduce:
from functools import reduce
def serialsum(x,y):
    return x*y+x*y*y*x*x*0
reduce(serialsum,[1,2,3,4,5,6,7,8,9,10])

3628800

In [177]:
#lambda:
def cube(x):
    return x*x*x
output=lambda y:y*y*y
print(output(5))
print(cube(15))

125
3375

In [181]:
#map() with lambda
list(map(lambda x:pow(x,2),[2,3,4,56,7,8]))

[4, 9, 16, 3136, 49, 64]

In [185]:
#filter with lambda
set(filter(lambda x:x%3==0 or x%5==0,(23,45,67,89,91,54,100)))

{45, 54, 100}

In [188]:
#reduce with lambda
reduce(lambda i,j:i+j*i,(1,2,4,45,5,89))

372600

In [189]:
#map() and filter() and lambda
list(filter(lambda x:x%3!=0,map(lambda x:x*x,[2,3,4,5,6,7,8,912])))

[4, 16, 25, 49, 64]