In [1]:
print("Jai hanuman shiva")

Jai hanuman shiva

In [2]:
"haii"
print("surya")

surya

In [3]:
print("Jai hanuman shiva")

Jai hanuman shiva

In [4]:
print("Jai hanuman shiva")

Jai hanuman shiva

In [5]:
print("Jai hanuman shiva")

"surya"
"hello"

Jai hanuman shiva

'hello'

In [6]:
"haii"

'haii'

In [7]:
"haii"
"gfsdgfsdergfsad"

'gfsdgfsdergfsad'

In [8]:
"haii"

'haii'

In [9]:
# surya
"""
hai hello
dgdsfg
sdgfsdgf

"""

'\nhai hello\ndgdsfg\nsdgfsdgf\n\n'

# surya
###### venkat

*hello*<br>
**haii**<br>
***hdkjsahd***<br>
* hai
    * kjfkjsda
        * hfkijhfdkh<br>
            * kjkjsadkjas
 > ordered list
 >> bcjksbdjk
 >>> njkhfnjskjd
 >>>>>> kjhnfkjwshdf
 
 - []Option 1
 - []fghdcgfh
 
 <https://google.com>
 
 [Jupyter_logo](Jupyter.png)

<img src="Jupyter.png" style="float:right">

<h1 style="color:red;font-size:20px">hai all</h1>
<h6>xgfghhghgvcghvgh</h6>

<i>jhbxjhasbxjmh</i><br>
<em>bsnbsndj</em><br>

<b>surya</b>
<strong>fkwhkjfhwekj</strong>

<a href="https://www.google.com/">Welcome to google</a>

<a href="mailto:surya@gmail.com">surya</a>

In [10]:
"hai"
"hllo"
print("Dfsd");
print("fvsdfsd");

Dfsd
fvsdfsd

In [11]:
a=20;
a

20

In [12]:
_=30
_

30

In [13]:
a9=20

In [14]:
a9

20

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [15]:
a,b=10,20
a+b

30

In [16]:
s="surya"
print(s)
print(type(s))

surya
<class 'str'>

In [17]:
s="""surya"""
print(s)
print(type(s))

surya
<class 'str'>

In [18]:
a=10
b=20.0
c="surya"
print(a+b);
print(type(a+b))
print(type(a))

30.0
<class 'float'>
<class 'int'>

In [19]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [20]:
a=input("enter a value")
a

enter a value3

'3'

In [21]:
b=int(input("enter b value:"))
c=float(input("enter c value"))
print(b+c)

enter b value:4
enter c value5
9.0

In [22]:
a=10
print(type(a))
print(float(a))
print(type(float(a)))
print(str(float(a)))
print(type(str(float(a))))

<class 'int'>
10.0
<class 'float'>
10.0
<class 'str'>

In [23]:
a="20"
print(type(a))
print(float(a))
print(type(float(a)))
print(int(float(a)))

<class 'str'>
20.0
<class 'float'>
20